.container{
    margin:  50px;
    
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: rgb(5, 29, 51);
    color: white;
    border-radius: 11px;
    justify-content: center;
    margin:0 auto;
    padding:30px; 
    
    
}

.box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.box label{
    margin-bottom:.6em;
    font-weight: bold;
}

.box input{
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

.btnLogin{
    display: flex;
    justify-content: center;
    
}