.container{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background-color: rgb(5, 29, 51);
    

    color: white;
    border-radius: 15px;
    
}

.form{
    width: 100%;
    max-width: 650px;
    min-height: 75vh;
    margin:0 auto;
    box-sizing: border-box;
    
    
}

.buttonBox{
    display: flex;
    gap: 50px;

}

h1{
    color: rgb(255, 255, 255);
    padding: 0;
}