.btn{
    background-color: #42a0a3;
    color:#000000;
    padding:0.7em 1.2em;
    text-decoration: .5s;
    transition: .5s;
    cursor: pointer;
    border:1cm;
    border-radius:8px;
}

.btn:hover{
    color: #ffffff;
}
